/* ##### declaration des fonts###### */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500&family=Style+Script&family=Teko:wght@300&display=swap");

/* ############################################# */

/* mise en forme du texte */
.title {
	font-family: "Bebas Neue";
	font-size: 38px;
	opacity: 0.6;
	color: #2e4550;
	text-shadow: 1px 3px 2px black, 0 0 1em #9dc6ec, 0 0 0.2em #0f52ba;
}
h1,
h2,
h3,
h4,
.typo {
	font-family: "oswald";
}

img {
	text-align: center;
	margin: auto;
	display: flex;
}
p,
li {
	font-family: "teko";
	font-size: 22px;
}
button {
	border-bottom: 1px solid #9f9f9f;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
/* ############################ */
.pic {
	background-color: #2e4550;
}
.contact,
p,
h1,
h2,
h3,
h4,
li {
	text-align: center;
}
li {
	list-style: none;
	margin-left: -25px;
}

/* walpaper sur nom et intitulé */
.name {
	padding-top: 10%;
	text-align: center;
	width: auto;
	height: 200px;
	background-image: url("./sea.webp");
	background-size: cover;
}
.img {
	padding-bottom: 10px;
}
.left-side,
.soft-skill {
	padding-top: 10px;
	background-color: #9dc6ec;
}
.left-side {
	padding-bottom: 5px;
}
.right-side {
	padding-top: 10%;
	background-color: #efefef;
}
.hobby {
	padding-bottom: 5px;
}
footer {
	padding-top: 10%;
	padding-bottom: 10px;
	background-color: #2e4550;
	color: white;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
/* ###### couleur les liens ######  */
a {
	color: #efefef;
}
a:hover {
	background-color: #9dc6ec;
}
.ctc:hover {
	background-color: #9dc6ec;
}
.icon {
	padding-left: 1%;
	padding-right: 1%;
	color: white;
}
@media screen and (min-width: 420px) {
	body {
		background-color: black;
	}
}
